__pycache__/
adapter_model/
audio/
audio_cache/
role_audios/
test/
tmp/
pretrained_models/*
common/logs/dataset_manager.log

wataoshi_1.mkv
data/inputs/*
data/outputs/*
datasets/
dataset.py
recognize.py
emotion.py

src/characterdataset/characterdataset.egg-info/
src/characterdataset/DatasetManager.egg-info/
src/characterdataset.egg-info
