__pycache__/
adapter_model/
audio/
audio_cache/
role_audios/
test/
tmp/
pretrained_models/*
src/characterdataset/common/logs/dataset_manager.log

wataoshi_1.mkv
data/inputs/*
data/outputs/*
data/character_embedds/*
datasets/
dataset.py
recognize.py
emotion.py

src/characterdataset/characterdataset.egg-info/
src/characterdataset/DatasetManager.egg-info/
src/characterdataset.egg-info
tests/data/
tests/__pycache__/

test_api.py
src/characterdataset/common/texts.json
.pytest_cache/