--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.1+cu121
--find-links https://download.pytorch.org/whl/torch_stable.html
torchaudio==2.2.1+cu121
demoji==1.1.0
gradio==4.21.0
matplotlib==3.8.0
munch==4.0.0
neologdn==0.5.2
numpy==1.25.2
pandas==2.0.3
pytest==8.1.1
requests==2.31.0
scikit_learn==1.2.2
setuptools==68.2.2
speechbrain==0.5.16
toml==0.10.2
tqdm==4.66.1
transformers==4.38.2
pytest-asyncio==0.23.5.post1
soundfile==0.12.1